@charset "UTF-8";

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

nav {
    background-color: rgb(255, 56, 92);
}

nav a{
    font-family: Poppins-Medium;
    color: white;
}

nav a:hover{
    color: white;
}